.result {
  background: #000;
  min-height: 100vh;
}

.buttons {
  display: flex;
  gap: 5px;
}

.trailervideo {
  position: fixed;
  top: 5vh;
  left: 0;
  z-index: 100;
  backdrop-filter: blur(20px);
  min-height: 100vh;
  margin-top: -2rem;
}
